<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index is running</title>
  </head>
  <body>
    {% if name=='rrr' %}
    <h1>Hello World !!!</h1>
    {% else %} Name: {{name}} {% endif %}

    <hr />

    {% for i in empList: %}
    <!-- <li>{{i['firstName']}} - {{i['salary']}}</li> -->
    <li>{{i}}</li>
    {% endfor %}
  </body>
</html>
